In [1]:
import sys
sys.path.append('../')

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from src.database import MongoDB

%matplotlib inline

## Check data quality

In [2]:
db = MongoDB()
matches_data = db.query_all_data('matches_data')

rows = []
for doc in matches_data:
    temp = []
    temp.append(doc['match_id'])
    temp.append(doc['duration'])
    for player in doc['players']:
        temp.append(player['account_id'])
    rows.append(temp)

Querying data from matches_data.

In [3]:
df = pd.DataFrame(rows, columns=['match_id', 'duration'] + ['player_' + str(i) for i in range(10)])
df.shape

(38357, 12)

In [4]:
df['no_radiant_identified'] = (~df[['player_' + str(i) for i in range(5)]].isna() == True).\
    apply(lambda x: sum(x), axis=1)
df['no_dire_identified'] = (~df[['player_' + str(i) for i in range(5, 10)]].isna() == True).\
    apply(lambda x: sum(x), axis=1)

df.head()

,match_id,duration,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9,no_radiant_identified,no_dire_identified
0,4154000815,2470,NaN,NaN,299711286.0,NaN,334260386.0,135550506.0,100664395.0,397697319.0,198316694.0,174185760.0,2,5
1,4152678603,2239,NaN,NaN,NaN,200445858.0,144286464.0,NaN,NaN,254093217.0,NaN,NaN,2,1
2,4152494309,3286,212752913.0,257710284.0,NaN,NaN,NaN,52058001.0,NaN,94871311.0,125012778.0,157017119.0,2,4
3,4152425012,2408,NaN,104438886.0,NaN,NaN,NaN,198782054.0,191886982.0,143928825.0,115340026.0,NaN,1,4
4,4152417604,2192,131116276.0,361645365.0,120410884.0,887383170.0,119571905.0,NaN,NaN,370089153.0,NaN,150848809.0,5,2

In [5]:
df[(df.no_radiant_identified > 3) & (df.no_dire_identified > 3)].shape

(16522, 14)

In [6]:
df[(df.no_radiant_identified > 4) & (df.no_dire_identified > 4)].shape

(3787, 14)

In [7]:
doc.keys()

dict_keys(['_id', 'match_id', 'barracks_status_dire', 'barracks_status_radiant', 'chat', 'cluster', 'cosmetics', 'dire_score', 'dire_team_id', 'draft_timings', 'duration', 'engine', 'first_blood_time', 'game_mode', 'human_players', 'leagueid', 'lobby_type', 'match_seq_num', 'negative_votes', 'objectives', 'picks_bans', 'positive_votes', 'radiant_gold_adv', 'radiant_score', 'radiant_team_id', 'radiant_win', 'radiant_xp_adv', 'skill', 'start_time', 'teamfights', 'tower_status_dire', 'tower_status_radiant', 'version', 'replay_salt', 'series_id', 'series_type', 'players', 'patch', 'region', 'all_word_counts', 'my_word_counts', 'comeback', 'stomp', 'replay_url'])